<h2>Add relation</h2>
<form method="POST" action="/addrel">
<select name="name">
    <option>select</option>
        <% userlog.forEach(function(user){ %>
<option><%= user.name %></option>
<% }) %>
</select>
<select name="relation">
    <option>student</option>
    <option>teacher</option>
</select>
<input type="submit" value="add relation">
</form>
<a href="/admin/back">Back</a>