<h1>Admin Page</h1>
<a href="/login/admin">Logout</a>
<form method="POST" action="/admin/view">
<input type="submit" value="View">
</form>

<form method="POST" action="/admin/relation">
  <input type="submit" value="Add">
</form>
