<h1>Admin Login</h1>
<form method="POST" action="/admin">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Submit">
    
</form>