<link href="/css/style.css" rel="stylesheet" type="text/css">

<div class="login-form">
<h1>Registration</h1>

<form method="POST" action="/register/add">
    
    <input type="text" name="name" placeholder="Name" required><br>
  
    <input type="text" name="email" placeholder="Email" required><br>
    
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="submit">
</form>
</div>