<h1>Login</h1>
<%= error %>
<form method="POST" action="/login/add">
    <input type="text" placeholder="Username" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Submit">
    <a href="/register">New user</a>
</form>

